h1 {font-family:'Shadows Into Light', cursive; font-size:36pt; font-color:black;}
h2 {font-family:'Syncopate', sans-serif; font-size:24pt; font-color:black;}
h3 {font-family:'Kameron', serif; font-size:18pt; font-color:black;}
h4 {font-family:'Open Sans', sans-serif; font-size:14pt; font-color:black;}
h5 {font-family: 'Crete Round', serif; font-size:12pt; font-color:black;}

body {font-family: Cambria; font-size: 12pt; font-color: black;}
body {background-color:white;}

<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Syncopate|Kameron|Open+Sans|Crete+Round' rel='stylesheet' type='text/css'>
