h1 {font-family:Cambria; font-size:36pt; color:black; background-color:#D3D3D3;}
body {font-family:Cambria; font-size:12pt; color:#A9A9A9;; background-color:#D3D3D3; border-style:solid; border-width:4px;}
p.big {line-height:200%;}



